@tailwind base;
@tailwind components;
@tailwind utilities;

.timer-bg {
    background-image: url("/assets/images/timer-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}